@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans:400,700|Rozha+One');
$textFont: 'Open Sans', sans-serif;

$black:#202020;
//Dark grey
$titleColor:#A09EA0;
//Light grey
$paraghColor:#B0AEB0;
$red:#86191D;
$green:#00b368;
$greyBG: #F7F7F7;
$footerBG:#141A23;

*{
  box-sizing: border-box;
}
body{
  font-family: $textFont;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  color: $black;
}

#navbar{
  background: $green;
  i{
    float: left;
    padding-right: 5px;
  }
}
.navbarstyle{
  background: $green;
}
.sidemenuaddcredits {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  font-size: 14px;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  padding: 0 32px;
}
.sidemenuaddcreditsbackground:hover{
  background-color: rgba(0, 0, 0, 0.05);
  width:100%;
}
.sidemenucredits{
  padding: 0 32px;
}
.newsurveymainbutton:hover{
  background: transparent;
}

#logo{
  float: left;
  padding-left: 5px;
  font-size: 1.1rem;
}

#landing{
  text-align: center;
  h6{
    color: $paraghColor;
  }
  .introtext{
    margin-top: 7rem;
    margin-bottom: 4rem;
  }
  button{
    margin-bottom: 4rem;
  }
  .row{
    margin-bottom: 15px;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  i{
    float: left;
  }
  p{
    float: left;
    padding-left: 15px;
  }
}

#surveylist{
  .response{
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .surveytitle{
    font-weight: 500;
  }
}

.surveyformreviewnavigation{
  margin-top: 2rem;
}
